#link-toolbar {
  background-color: #a0a0a0;
}

#link-toolbar a[href] {
  color: #ffffff;
  cursor: default;
  text-decoration: none;
}

#link-toolbar a[href]:first-child {
  padding: 0 0.75ex;
}

#link-toolbar a[href] + a[href] {
  border-left: thin #000000 solid;
  padding: 0 0.75ex;
}
